@page "/"
@model Matei_Raul_Lab2.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().Title)
            </th>
            <th>
                Authors
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookD.Books.FirstOrDefault().PublishingDate)
            </th>
            <th>
                Publisher
            </th>
            <th>
                Categories
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.BookD.Books)
{
    string selectedRow = "";
    if (item.ID == Model.BookID)
    {
        selectedRow = "table-success";
    }
    <tr class="@selectedRow">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (item.Authors != null)
            {
                @item.Authors.LastName @: @item.Authors.FirstName
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishingDate)
        </td>
        <td>
            @if (item.Publisher != null)
            {
                @item.Publisher.PublisherName
            }
        </td>
        <td>
            @if (item.BookCategories != null && item.BookCategories.Any())
            {
                foreach (var bc in item.BookCategories)
                {
                    @bc.Category.ID @: @bc.Category.CategoryName<br />
                }
            }
        </td>
        <td>
            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
            <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
        </td>
    </tr>
}
    </tbody>
</table>
